#categories{
  .categories{
    h1{
      margin: 20px 0 50px 0;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: #72072D;
    }
    &--hover{
      .menu--categories{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 30px 0;
        flex-wrap: wrap;
        position: relative;
        .man{
          position: relative;
          margin-bottom: 20px;
          width: 285px;
          height: 67px;
          border: none;
          border-radius: 15px;
          background: url("../../assets/img/man__hover.png");
          &--img{
            z-index: 10;
            width: 100%;
          }
          &--fon{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
          &--title{
            position: absolute;
            left: 40px;
            top: 21px;
            z-index: 5;
            display: flex;
            align-items: end;

            p{
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #FFFFFF;
              margin-right: 20px;
            }
            &--icon{
              color: #FFFFFF;
              font-size: 23px;

            }
          }
        }
        .woman{
          position: relative;
          margin-bottom: 20px;
          width: 285px;
          height: 67px;
          border: none;
          border-radius: 15px;
          background: url("../../assets/img/woman__hover.png");
          &--img{
            z-index: 10;
            width: 100%;
          }
          &--fon{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
          &--title{
            position: absolute;
            left: 40px;
            top: 21px;
            z-index: 5;
            display: flex;
            align-items: end;

            p{
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #FFFFFF;
              margin-right: 20px;
            }
            &--icon{
              color: #FFFFFF;
              font-size: 23px;

            }
          }
        }
        .kids{
          position: relative;
          margin-bottom: 20px;
          width: 285px;
          height: 67px;
          border: none;
          border-radius: 15px;
          background: url("../../assets/img/kids__hover.png");
          &--img{
            z-index: 10;
            width: 100%;
          }
          &--fon{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
          &--title{
            position: absolute;
            left: 40px;
            top: 21px;
            z-index: 5;
            display: flex;
            align-items: end;

            p{
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #FFFFFF;
              margin-right: 20px;
            }
            &--icon{
              color: #FFFFFF;
              font-size: 23px;

            }
          }
        }
        .shoes{
          position: relative;
          margin-bottom: 20px;
          width: 285px;
          height: 67px;
          border: none;
          border-radius: 15px;
          background: url("../../assets/img/shoes__hover.png");
          &--img{
            z-index: 10;
            width: 100%;
          }
          &--fon{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
          &--title{
            position: absolute;
            left: 40px;
            top: 21px;
            z-index: 5;
            display: flex;
            align-items: end;

            p{
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #FFFFFF;
              margin-right: 20px;
            }
            &--icon{
              color: #FFFFFF;
              font-size: 23px;

            }
          }
        }
        &--man{
          position: relative;
          width: 285px;
          height: 67px;
          border-radius: 10px;
          transition: all .5s ease-in-out;
          background: url("../../assets/img/man__hover.png") no-repeat;
          z-index: 10;
          &:hover{
            background: url("../../assets/img/man.png") no-repeat;
            height: 232px;
            z-index: 10;
          }

          &--fon{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            &:hover{
              width: 100%;
              height: 100%;
            }
          }


          &--title{
            position: absolute;
            left: 24px;
            bottom: 15px;
            display: flex;
            align-items: end;
            &:hover{
              position: absolute;
              left: 24px;
              bottom: 15px;

            }

            p{
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #FFFFFF;
              margin-right: 20px;
            }
            &--icon{
              color: #FFFFFF;
              font-size: 23px;

            }
          }
        }
        &--woman{
          position: relative;
          width: 285px;
          height: 67px;
          border-radius: 10px;
          transition: all .5s ease-in-out;
          background: url("../../assets/img/woman__hover.png") no-repeat;
          z-index: 10;
          &:hover{
            background: url("../../assets/img/woman.png") no-repeat;
            height: 232px;
            z-index: 10;
          }

          &--fon{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }

          &--title{
            position: absolute;
            left: 24px;
            bottom: 15px;
            display: flex;
            align-items: end;
            &:hover{
              position: absolute;
              left: 24px;
              bottom: 15px;

            }

            p{
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #FFFFFF;
              margin-right: 20px;
            }
            &--icon{
              color: #FFFFFF;
              font-size: 23px;

            }
          }
        }
        &--kids{
          position: relative;
          width: 285px;
          height: 67px;
          border-radius: 10px;
          transition: all .5s ease-in-out;
          background: url("../../assets/img/kids__hover.png") no-repeat;
          z-index: 10;
          &:hover{
            background: url("../../assets/img/children.png") no-repeat;
            height: 232px;
            z-index: 10;
          }

          &--fon{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }

          &--title{
            position: absolute;
            left: 24px;
            bottom: 15px;
            display: flex;
            align-items: end;
            &:hover{
              position: absolute;
              left: 24px;
              bottom: 15px;

            }

            p{
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #FFFFFF;
              margin-right: 20px;
            }
            &--icon{
              color: #FFFFFF;
              font-size: 23px;

            }
          }
        }
        &--shoes{
          position: relative;
          width: 285px;
          height: 67px;
          transition: all .5s ease-in-out;
          background: url("../../assets/img/shoes__hover.png") no-repeat;
          z-index: 10;
          &:hover{
            background: url("../../assets/img/foot.png") no-repeat;
            height: 232px;
            width: 285px;
            border-radius: 10px;
            z-index: 10;
          }

          &--fon{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }

          &--title{
            position: absolute;
            left: 24px;
            bottom: 15px;
            display: flex;
            align-items: end;
            &:hover{
              position: absolute;
              left: 24px;
              bottom: 15px;

            }

            p{
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #FFFFFF;
              margin-right: 20px;
            }
            &--icon{
              color: #FFFFFF;
              font-size: 23px;

            }
          }
        }





      }
    }
    &--product{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin: 20px 20px;

    }
  }
}


@media (max-width: 1540px){

}
@media (max-width: 1200px) {
  #categories .categories--hover .menu--categories .man{
    width: 250px;
  }
  #categories .categories--hover .menu--categories--man{
    width: 250px;
  }
  #categories .categories--hover .menu--categories--woman{
    width: 250px;
  }
  #categories .categories--hover .menu--categories .woman{
    width: 250px;
  }
  #categories .categories--hover .menu--categories--kids{
    width: 250px;
  }
  #categories .categories--hover .menu--categories .kids{
    width: 250px;
  }
  #categories .categories--hover .menu--categories--shoes{
    width: 250px;
  }
  #categories .categories--hover .menu--categories .shoes{
    width: 250px;
  }
}
@media (max-width: 1024px) {
  #categories .categories--hover .menu--categories .man{
    width: 220px;
    height: 55px;
  }
  #categories .categories--hover .menu--categories--man{
    width: 220px;
    height: 55px;
  }
  #categories .categories--hover .menu--categories--woman{
    width: 220px;
    height: 55px;
  }
  #categories .categories--hover .menu--categories .woman{
    width: 220px;
    height: 55px;
  }
  #categories .categories--hover .menu--categories--kids{
    width: 220px;
    height: 55px;
  }
  #categories .categories--hover .menu--categories .kids{
    width: 220px;
    height: 55px;
  }
  #categories .categories--hover .menu--categories--shoes{
    width: 220px;
    height: 55px;
  }
  #categories .categories--hover .menu--categories .shoes{
    height: 55px;
    width: 220px;

  }

}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  #categories .categories--hover .menu--categories{
    display: none;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 450px) {
}
@media (max-width: 400px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
