.btn {
  position: fixed;
  z-index: 99;
  left: 90%;
  top: 90%;
  button {
    background: linear-gradient(270.73deg, #FF005C 0.7%, #72072D 89.36%);
    padding: 15px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .arrow {
    font-size: 25px;
    color: white;
  }
}

@media (max-width: 1200px){
  .btn{
    left: 75%;
  }
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .btn button{
    padding: 10px;
  }
}
@media (max-width: 576px){
  .btn button{
    padding: 8px;
  }
  .btn .arrow{
    font-size: 20px;

  }
}

@media (max-width: 450px) {
  .btn{
    left: 70%;
  }
  .btn button {
    padding: 10px;
  }
  .btn .arrow{
    font-size: 22px;
  }
}
@media (max-width: 400px) {
  .btn{
    left: 80%;
  }
}
@media (max-width: 375px){

}
@media (max-width: 320px) {
  .btn button {
    padding: 7px;
  }
  .btn .arrow{
    font-size: 18px;
  }
  .btn{
    left: 55%;
  }
}
