.btn {
  position: fixed;
  z-index: 99;
  left: 90%;
  top: 90%;
  button {
    background: linear-gradient(270.73deg, #FF005C 0.7%, #72072D 89.36%);
    padding: 15px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .arrow {
    font-size: 25px;
    color: white;
  }
}