#hero {
  margin-top:-10px;
  .hero {
    display: flex;
    width: 90%;
    margin-bottom: 500px;
    z-index: 1;
    &--img{
      display: flex;
      position: absolute;
      &--one{
        margin-top: -10px;
        position: relative;
        z-index: 3;
      }
      &--two{
        margin-left: -245px;
        margin-top: -10px;
        z-index: 2;
        background: #fff;
        border-radius: 0 20px 0 0;
      }
    }
    .clothes{
      z-index: 4;
      position: absolute;
      right: 1px;
      top: 200px;
      h1 {
        font-weight: 900;
        color: #72072D;
        font-size: 48px;
        padding: 0 160px 0 76px;
      }
      .for{
        display: flex;
        flex-direction: column;
        margin-top: 75px;
        margin-left: 15px;
        a{
          color: #FF005C;
          font-size: 24px;
          padding: 10px 0 10px 76px;
          font-weight: 900;
        }
      }
    }


  }
}
