#basket{
  position: relative;
  top: -30px;
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  .title{
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #72072D;
    top: 20px;
    left: 53px;
    width: 100%;
  }
  .basket{
    display: flex;
    align-items: start;
    justify-content: space-between;
    .tabs{
      display: none;
    }
    &--first{

      display: flex;
      width: 700px;
      align-items: start;
      justify-content: space-between;
      margin-top: 40px;
      margin-bottom: 50px;
      &--contacts{
        h1{
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #72072D;

          margin-bottom: 28px;
        }
        display: flex;
        flex-direction: column;
        input{
          width: 288px;
          height: 43px;
          border: 1px solid #72072D;
          outline: none;
          margin: 8px 0;
          padding-left: 10px;
          color: #72072D;
          font-size: 15px;
        }
        ::placeholder{
          color: rgba(0, 0, 0, 0.4);
        }
      }
      &--dost{
        background: #ffffff;
        width: 300px;
        height: 400px;
        h1{
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #72072D;
          margin-bottom: 25px;
        }
        p{
          width: 254px;
          height: 34px;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: rgba(0, 0, 0, 0.9);
          margin-bottom: 17px;
        }
        &--checks {
          &--check {
            input{
              height: 16px;
              width: 295px;
            }
            &--label{
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #72072DE5;
            }
          }
          &--then {
            select {
              width: 300px;
              height: 40px;
              color: #999999;
              border: 1px solid #72072D;
              outline: none;
              margin: 10px 0;
            }
          }
        }
        &--secondCheck{
          margin: 15px 0;
          input{
            width: 16px;
            height: 16px;
            //margin-right: 5px;
          }
          &--label{
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #72072DE5;

          }
        }
      }
    }
    &--second{
      display: flex;
      align-items: end;
      justify-content: space-between;
      width: 700px;
      &--pay{
        h1{
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #72072D;
          margin-bottom: 30px;
        }
        &--first{
          display: flex;
          align-items: start;
          justify-content: space-between;
          width: 270px;
          &--input{
            width: 16px;
            height: 16px;
          }
          &--label{
            width: 245px;
          }
        }
        &--second{
          display: flex;
          align-items: start;
          justify-content: space-between;
          width: 270px;
          margin: 20px 0;
          &--input{
            width: 16px;
            height: 16px;
          }
          &--label{
            width: 245px;
            span{
              color: #70FF00;
            }
          }
        }

        &--btn{
          &--one{
            width: 329px;
            height: 53px;
            background: #72072D;
            border-radius: 3px;
            border: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            display: none;
          }
          &--two{
            width: 246px;
            height: 34px;
            background: #72072D;
            border-radius: 3px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            border: none;
          }
        }
      }
      &--total{
        width: 288px;
        height: 84px;
        left: 465px;
        top: 709px;
        background: #72072D;
        border: 1px solid #72072D;
        &--title{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 24px 10px 0 10px;
          p{
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #FFFFFF;
          }
          h2{
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            color: #FFFFFF;
          }
        }
        &--desc{
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          color: #FFFFFF;
          text-align: center;
          margin-top: 20px;
        }
      }
    }
    &--third{
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 40%;
      height: 600px;
      justify-content: space-between;
      &::-webkit-scrollbar{
        width: 12px;

      }
      &::-webkit-scrollbar-thumb{
        background: #FF005C;
        border-radius: 10px;
      }
      &--card{
        display: flex;
        align-items: start;
        margin: 20px 0;
        &--img{
          margin-right: 20px;
        }
        &--desc{
          h1{
            width: 200px;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #434343;
          }
          h2{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.7);
          }
          h3{
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            color: #FF005C;
            margin: 10px 0;
          }

        }
        &--count{
          width: 91px;
          height: 21px;
          border: 1px solid #DF0251;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          .count{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
              width: 26px;
              height: 21px;
              background: #DF0251;
              color: white;
              border: none;
              font-size: 20px;
              cursor: pointer;
            }
          }
        }
        &--delete{
          width: 67px;
          height: 23px;
          background: transparent;
          font-style: normal;
          border: none;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          color: #FF0000;
          cursor: pointer;
        }
      }
    }
  }
}



@media (max-width: 1440px) {
  #basket{
    .title{
      left: 65px;
    }
  }
}


@media (max-width: 1200px){

  #basket .basket--first{
    width: 630px;
  }
  #basket .basket--second{
    width: 630px;
  }
}

@media (max-width: 1024px) {
  #basket .basket--first{
    width: 540px;
  }
  #basket .basket--second{
    width: 500px;
  }
  #basket .basket--third{
    width: 370px;
    height: 680px;
  }
  #basket .basket--first--contacts input{
    width: 238px;
  }
  #basket .basket--first--dost--block{
    width: 228px;
  }
  #basket .basket--second--total{
    width: 250px;
  }
  #basket .basket--second--total--title{

  }
  #basket .basket--first--dost h1{
    margin-bottom: 32px;
  }
  #basket .basket--third--card--img{
    img{
      width: 150px;
      height: 180px;
    }
  }
  #basket .basket--third--card--desc h1{
    font-size: 20px;
    line-height: 30px;
  }
  #basket .basket--second--total{
    width: 200px;
  }
}
@media (max-width: 992px){
  #basket .basket--first{
    width: 520px;
  }
  #basket .basket--second{
    width: 500px;
  }
  #basket .basket--third--card--desc h1{
    width: 99%;
  }
  #basket .basket--third{
    width: 365px;
  }

}

@media (max-width: 768px){
  #basket{
    top: 0;
    .basket{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .tabs{
        display: flex;
        flex-direction: column;
        .tab{
          display: flex;
          align-items: center;
          width:  100%;
          justify-content: space-between;
          p{
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #72072D;
          }
          div{
            height: 22px;
            border:1.2px solid black;
          }
          h6{
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: rgba(114, 7, 45, 0.7);
          }
        }
        .tab-total{
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          p{
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #72072D;

          }
          span{
            margin-left: 15px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #72072D;
          }
        }
      }

    }
  }


  #basket .title{
    display: none;
  }

  #basket .basket--first{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #basket .basket--second{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #basket .basket--third{
    display: none;
  }
  #basket .basket--first--contacts input{
    width: 100%;
  }
  #basket .basket--first--contacts h1{
    text-align: center;
  }
  #basket .basket--first--dost h1{
    margin-top: 20px;
  }
  #basket .basket--first--dost--checks{
    justify-content: space-between;
    width: 300px;
  }
  #basket .basket--first--dost h1{
    text-align: center;
  }
  #basket .basket--second--pay--btn--one{
    display: block;
    width: 100%;
    height: 45px;
  }
  #basket .basket--second--pay h1{
    text-align: center;
  }
  #basket .basket--second--total{
    width: 500px;
    margin-top: 20px;
  }
  #basket .basket--second--pay--btn--two{
    width: 500px;
    height: 45px;
  }
  #basket .basket--second--pay--btn--one{
    width: 80%;
  }
  #basket .basket--second--pay--first--label{
    width: 81%;
  }
  #basket .basket--second--pay--first{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  #basket .basket--second--pay--second{
    width: 100%;
  }
  #basket .basket--second--pay--second--label{
    width: 81%;
  }
  #basket .basket--first--dost p{
    text-align: center;
  }


}

@media (max-width: 576px){

}

@media (max-width: 450px){

}

@media (max-width: 425px){

}

@media (max-width: 400px){

}

@media (max-width: 375px){

}
//
//@media (max-width: 320px){
// #basket {
//   text-align: center;
//   .basket {
//     &--second {
//          display: flex;
//          flex-direction: column;
//          align-items: center;
//          justify-content: center;
//          &--pay {
//            width: 200px;
//            &--btn {
//              //text-align: center;
//              &--two {
//                width: 70%;
//
//              }
//              &--one {
//                width: 70%;
//                font-size: 14px;
//                margin-left: 20%;
//              }
//            }
//          }
//          &--total {
//            width: 55%;
//          }
//     }
//     &--first {
//       &--dost {
//         height: 220px;
//       }
//     }
//     .tabs {
//       .tab {
//         p {
//           font-size: 12px;
//         }
//         h6 {
//           font-size: 12px;
//         }
//       }
//     }
//   }
// }
//}
