#basket{
  position: relative;
  top: -40px;
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  .title{
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #72072D;
    top: 20px;
    left: 20px;
    width: 500px;
  }
  .basket{
    display: flex;
    align-items: start;
    justify-content: space-between;
    &--first{

      display: flex;
      width: 700px;
      align-items: start;
      justify-content: space-between;
      margin-top: 40px;
      margin-bottom: 50px;
      &--contacts{
        h1{
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #72072D;

          margin-bottom: 28px;
        }
        display: flex;
        flex-direction: column;
        input{
          width: 288px;
          height: 43px;
          border: 1px solid #72072D;
          outline: none;
          margin: 8px 0;
          padding-left: 10px;
          color: #72072D;
          font-size: 15px;
        }
        ::placeholder{
          color: rgba(0, 0, 0, 0.4);
        }
      }
      &--dost{
        h1{
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #72072D;
          margin-bottom: 25px;
        }
        p{
          width: 254px;
          height: 34px;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: rgba(0, 0, 0, 0.9);
          margin-bottom: 17px;
        }
        &--check{
          display: flex;
          align-items: center;
          input{
            margin-right: 5px;
            width: 16px;
            height: 16px;
          }
          &--label{
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #72072DE5;

          }
        }
        &--secondCheck{
          display: flex;
          align-items: center;
          margin: 15px 0;
          input{
            width: 16px;
            height: 16px;
            margin-right: 5px;
          }
          &--label{
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #72072DE5;

          }
        }
        &--block{
          width: 288px;
          height: 43px;
          border: 1px solid #72072D;
        }
      }
    }
    &--second{
      display: flex;
      align-items: end;
      justify-content: space-between;
      width: 700px;
      &--pay{
        h1{
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #72072D;
          margin-bottom: 30px;
        }
        &--first{
          display: flex;
          align-items: start;
          justify-content: space-between;
          width: 270px;
          &--input{
            width: 16px;
            height: 16px;
          }
          &--label{
            width: 245px;
          }
        }
        &--second{
          display: flex;
          align-items: start;
          justify-content: space-between;
          width: 270px;
          margin: 20px 0;
          &--input{
            width: 16px;
            height: 16px;
          }
          &--label{
            width: 245px;
            span{
              color: #70FF00;
            }
          }
        }

        &--btn{
          &--one{
            width: 329px;
            height: 53px;
            background: #72072D;
            border-radius: 3px;
            border: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            display: none;
          }
          &--two{
            width: 246px;
            height: 34px;
            background: #72072D;
            border-radius: 3px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            border: none;
          }
        }
      }
      &--total{
        width: 288px;
        height: 84px;
        left: 465px;
        top: 709px;
        background: #72072D;
        border: 1px solid #72072D;
        &--title{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 24px;
          margin-left: 10px;
          width: 265px;
          p{
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #FFFFFF;
          }
          h2{
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            color: #FFFFFF;
          }
        }
        &--desc{
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          color: #FFFFFF;
          text-align: center;
          margin-top: 20px;
        }
      }
    }
    &--third{
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 40%;
      height: 500px;
      justify-content: space-between;
      &::-webkit-scrollbar{
        width: 12px;

      }
      &::-webkit-scrollbar-thumb{
        background: #FF005C;
        border-radius: 10px;
      }
      &--card{
        display: flex;
        align-items: start;
        margin: 20px 0;
        &--img{
          margin-right: 20px;
        }
        &--desc{
          h1{
            width: 200px;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #434343;
          }
          h2{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.7);
          }
          h3{
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            color: #FF005C;
            margin: 10px 0;
          }

        }
        &--count{
          width: 91px;
          height: 21px;
          border: 1px solid #DF0251;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          .count{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
              width: 26px;
              height: 21px;
              background: #DF0251;
              color: white;
              border: none;
              font-size: 20px;
            }
          }
        }
        &--delete{
          width: 67px;
          height: 23px;
          background: transparent;
          font-style: normal;
          border: none;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          color: #FF0000;
        }
      }
    }
  }
}



@media (max-width: 1440px) {
  
}

@media (max-width: 1200px){

}

@media (max-width: 1024px) {
}
@media (max-width: 992px){
}

@media (max-width: 768px){

}

@media (max-width: 576px){

}

@media (max-width: 450px){

}

@media (max-width: 425px){

}

@media (max-width: 400px){

}

@media (max-width: 375px){

}

@media (max-width: 320px){

}