#basket{
  position: relative;
  top: -30px;
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  .title{
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #72072D;
    top: 20px;
    left: 53px;
    width: 50%;
  }
  .basket{
    display: flex;
    align-items: start;
    justify-content: space-between;
    .tabs{
      display: none;
    }
    &--first{

      display: flex;
      width: 650px;
      align-items: start;
      justify-content: space-between;
      margin-top: 40px;
      &--contacts{
        h1{
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #72072D;

          margin-bottom: 28px;
        }
        display: flex;
        flex-direction: column;
        input{
          width: 288px;
          height: 43px;
          border: 1px solid #72072D;
          outline: none;
          margin: 8px 0;
          padding-left: 10px;
          color: #72072D;
          font-size: 15px;
        }
        ::placeholder{
          color: rgba(0, 0, 0, 0.4);
        }
      }
      &--dost{
        background: #ffffff;
        width: 300px;
        height: 300px;
        h1{
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #72072D;
          margin-bottom: 25px;
        }
        p{
          width: 254px;
          height: 34px;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: rgba(0, 0, 0, 0.9);
          margin-bottom: 17px;
          margin-top: 37px;
        }
        &--blockta {
          &--checks {
            &--check {
              display: flex;
              input{
                height: 16px;
                margin-right: 10px;
              }
              &--label{
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #72072DE5;

              }
            }
            &--then {
              position: relative;
              select {
                position: absolute;
                top: 3rem;
                bottom: 0;
                left: 0;
                right: 0;
                width: 300px;
                height: 40px;
                color: #999999;
                border: 1px solid #72072D;
                outline: none;
                margin: 10px 0;
              }
            }
          }
          &--secondCheck{
            margin: 15px 0;
            input{
              height: 16px;
              margin-right: 10px;
            }
            &--label{
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              color: #72072DE5;
            }
            .two-block {
              position: relative;
              left: 136px;
              .textarea {
                position: absolute;
                left: -142px;
                top: 30px;
              }
            }
          }
        }

        &--block{
          width: 288px;
          height: 43px;
          border: 1px solid #72072D;
          p{
            margin-top: 0;
          }
        }
      }
    }
    &--second{
      display: flex;
      align-items: end;
      justify-content: space-between;
      width: 95%;
      &--pay{
        h1{
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #72072D;
          margin-bottom: 30px;
        }
        &--first{
          display: flex;
          align-items: start;
          justify-content: space-between;
          width: 270px;
          &--input{
            width: 16px;
            height: 16px;
          }
          &--label{
            width: 245px;
          }
        }
        &--second{
          display: flex;
          align-items: start;
          justify-content: space-between;
          //width: 270px;
          margin: 20px 0;
          &--input{
            width: 16px;
            height: 16px;
          }
          &--label{
            width: 245px;
            span{
              color: #70FF00;
            }
          }
        }
        &--third{
          display: none;
        }
        &--fourth{
          display: none;
        }
        &--btn{
          &--one{
            width: 329px;
            height: 53px;
            background: #72072D;
            border-radius: 3px;
            border: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            display: none;
          }
          &--two{
            width: 246px;
            height: 34px;
            background: #72072D;
            border-radius: 3px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            border: none;
          }
          &--third{
            display: none;
          }
          &--fourth{
            display: none;
          }
        }
      }
      &--total{
        width: 288px;
        height: 84px;
        left: 465px;
        top: 709px;
        background: #72072D;
        border: 1px solid #72072D;
        &--title{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 24px 10px 0 10px;
          p{
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #FFFFFF;
          }
          h2{
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            color: #FFFFFF;
          }
        }
        &--desc{
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          color: #FFFFFF;
          text-align: center;
          margin-top: 20px;
        }
      }
    }
    &--third{
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 40%;
      height: 100vh;
      justify-content: flex-start;
      &::-webkit-scrollbar{
        width: 12px;

      }
      &::-webkit-scrollbar-thumb{
        background: #FF005C;
        border-radius: 10px;
      }
      &--card{
        display: flex;
        align-items: start;
        margin: 35px 0;
        &--img{
          margin-right: 20px;
          width: 150px;
          height: 180px;
          img{
            width: 150px;
            height: 180px;
          }
        }
        &--desc{
          h1{
            width: 200px;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #434343;
          }
          h2{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.7);
            span{
              color: black;
              font-weight: 500;
            }
          }
          h3{
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            color: #FF005C;
            margin: 10px 0;
          }

        }
        &--count{
          width: 91px;
          height: 21px;
          border: 1px solid #DF0251;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          .count{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
              width: 26px;
              height: 21px;
              background: #DF0251;
              color: white;
              border: none;
              font-size: 20px;
              cursor: pointer;
            }
          }
        }
        &--delete{
          width: 67px;
          height: 23px;
          background: transparent;
          font-style: normal;
          border: none;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          color: #FF0000;
          cursor: pointer;
        }
      }

    }
    &--four{
      display: flex;
      align-items: center;
      height: 50vh;
      justify-content: center;
      &--btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 10px;
        width: 255px;
        height: 54px;
        background: transparent;
        border: 2px solid #FF005C;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FF005C;
        cursor: pointer;
        transition: .3s;
        div{
          font-size: 30px;
          margin-left:30px;
        }
        &:hover{
          transform: scale(1.1);
        }
      }
    }
    &--five{
      display: none;
    }
  }
}

@media (max-width: 1440px) {
  #basket{
    .title{
      left: 65px;
    }
  }
}
@media (max-width: 1200px){

  #basket .basket--first{
    width: 620px;
  }
  #basket .basket--second{
    width: 620px;
  }
}

@media (max-width: 1024px) {
  #basket .basket--first{
    width: 540px;
    &--dost{
      margin-left: 45px;
    }
  }
  #basket .basket--second{
    width: 500px;
  }
  #basket .basket--third{
    width: 370px;
    height: 680px;
  }
  #basket .basket--first--contacts input{
    width: 238px;
  }
  #basket .basket--first--dost--block{
    width: 228px;
  }
  #basket .basket--second--total{
    width: 100%;
  }
  #basket .basket--second--total--title{

  }
  #basket .basket--first--dost h1{
    margin-bottom: 32px;
  }
  #basket .basket--third--card--img{
    img{
      width: 150px;
      height: 180px;
    }
  }
  #basket .basket--third--card--desc h1{
    font-size: 20px;
    line-height: 30px;
  }
  #basket .basket--second--total{
    width: 100%;
  }
  #basket .basket--four{
    margin-left: 40px;
  }
}
@media (max-width: 992px){
  #basket .basket--first{
    width: 520px;
  }
  #basket .basket--second{
    width: 500px;
  }
  #basket .basket--third--card--desc h1{
    width: 99%;
  }
  #basket .basket--third{
    width: 355px;
  }

}

@media (max-width: 768px){
  #basket{
    top: 0;
    .basket{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .tabs{
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        .tab{
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          &--h3{
            font-size: 30px;
          }
          &--right{
            margin-left: 40px;
            h6{
              font-size: 18px;
            }
            .h6{
              font-size: 18px;
              margin-left: 40px;
            }
          }
          .active{
            color: red;
          }
        }

        .tab-total{
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          p{
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #72072D;

          }
          span{
            margin-left: 15px;
            font-weight: 700;
            font-size: 20px;
            line-height: 29px;
            color: #72072D;
          }
        }
      }
      &--product{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .basket--third--card{
          display: flex;
          width: 550px;
          align-items: start;
          margin: 35px 0;
          justify-content: space-around;
          &--img{
            margin-right: 20px;
            width: 200px;
            height: 240px;
            img{
              width: 200px;
              height: 240px;
            }
          }
          &--desc{
            h1{
              width: 250px;
              font-weight: 400;
              font-size: 26px;
              line-height: 36px;
              color: #434343;
            }
            h2{
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
              color: rgba(0, 0, 0, 0.7);
              margin: 10px 0;
              span{
                color: black;
                font-weight: 500;
              }
            }
            h3{
              font-weight: 600;
              font-size: 15px;
              line-height: 22px;
              color: #FF005C;
              margin: 20px 0;
            }

          }
          &--count{
            width: 91px;
            height: 21px;
            border: 1px solid #DF0251;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;

            .count{
              display: flex;
              align-items: center;
              justify-content: center;
              button{
                width: 26px;
                height: 21px;
                background: #DF0251;
                color: white;
                border: none;
                font-size: 20px;
                cursor: pointer;
              }
            }
          }
          &--delete{
            width: 67px;
            height: 23px;
            background: transparent;
            font-style: normal;
            border: none;
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            color: #FF0000;
            cursor: pointer;
          }
        }
      }
      &--third{
        display: none;
      }
      &--four{

        height: 70vh;
        &--btn{
          display: flex;
          align-items: center;
          justify-content: center;
          div{
            font-size: 30px;
            margin-left:30px;
          }

        }
      }
      &--second{
        &--pay{

          &--third{
            display: flex;
            align-items: start;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 25px;
            &--input{
              width: 16px;
              height: 16px;
              margin-right: 10px;
            }
            p{
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              color: rgba(114, 7, 45, 0.9);
            }
          }
          &--fourth{
            display: flex;
            align-items: start;
            justify-content: space-between;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 25px;
            &--input{
              width: 16px;
              height: 16px;
              margin-right: 10px;
            }
            p{
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              color: rgba(114, 7, 45, 0.9);
              span{
                color: #70FF00;
              }
            }
          }
          &--btn{
            &--third{
              display: block;
              width: 329px;
              height: 53px;
              left: 53px;
              top: 862px;
              background: #72072D;
              border-radius: 3px;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              text-align: center;
              color: #FFFFFF;
              border: none;
            }
            &--fourth{
              display: block;
              width: 329px;
              height: 53px;
              left: 53px;
              top: 862px;
              background: #72072D;
              border-radius: 3px;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              text-align: center;
              color: #FFFFFF;
              border: none;
            }
          }
        }
      }
      &--five {
        display: block;
      }
    }
  }

  #basket .title{
    display: none;
  }
  #basket .basket--first{
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  #basket .basket--first--dost{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    p{
      margin-top: 0;
    }
    &--block{
      width: 390px;
    }
  }
  #basket .basket--first--dost--check input{
    width: 20px;
    height: 20px;
  }
  #basket .basket--first--dost--secondCheck input{
    width: 20px;
    height: 20px;
  }
  #basket .basket--second{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--pay{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  #basket .basket--first--contacts {
    display: flex;
    flex-direction: column;
    width: 90%;

    input{
      width: 100%;
    }

  }
  #basket .basket--first--contacts h1{
    text-align: center;
  }
  #basket .basket--first--dost h1{
    margin-top: 20px;
  }
  #basket .basket--first--dost--checks{
    justify-content: space-between;
    width: 100%;
  }
  #basket .basket--first--dost h1{
    text-align: center;
  }
  #basket .basket--second--pay--btn--one{
    display: block;
    width: 500px;
    height: 45px;
  }
  #basket .basket--second--pay h1{
    text-align: center;
    margin-top: 5px;
  }
  #basket .basket--second--total{
    width: 95%;
    margin-top: 20px;
  }
  #basket .basket--second--pay--btn--two{
    display: none;
  }
  #basket .basket--second--pay--btn--one{
    width: 500px;
  }
  #basket .basket--second--pay--first--label{
    width: 81%;
  }
  #basket .basket--second--pay--first{
    display: none;

  }
  #basket .basket--second--pay--second{
    display: none;
  }
  #basket .basket--second--pay--second--label{
    width: 81%;
  }
  #basket .basket--first--dost p{
    text-align: center;
  }
  #basket .basket--first--dost{
    &--blockta{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
  #basket .basket--first--dost--blockta--checks--check input{
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  #basket .basket--first--dost--blockta--secondCheck input{
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  #basket .basket--first--dost--blockta--checks--check{
    align-items: center;
  }
  #basket .basket--first--dost--blockta--secondCheck{
    .one-block{
      display: flex;
      align-items: center;
    }
    .two-block{
      left: 0;
    }
  }


}

@media (max-width: 576px){
  #basket {
    .basket {
      //width: 576px;
      .tabs {
        margin-bottom: 0;
        .tab {
          font-size: 16px;
          h6 {
            font-size: 16px;
          }
          div {
            margin-left: 20px;
          }
          .tabs--right{
            margin-left: 40px;
          }
        }
        .tab-total {

          p {
            font-size: 15px;
            span {
              font-size: 16px;
            }
          }
        }
      }
      &--first {
        &--contacts {
          h1 {
            font-size: 18px;
          }
          input {
            width: 280px;
            margin-left: 10px;
          }
        }
        &--dost {
          //width: 300px;
          h1 {
            font-size: 20px;
          }
          &--blockta {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            &--checks {
              &--check {
                display: flex;
                align-items: center;
                justify-content: center;
                //margin-left: 40px;
                &--label {
                  font-size: 15px;
                }
              }
              &--then {
                width: 100%;
                select {

                  //margin-left: 39px;
                }
              }
            }
            &--secondCheck {

              align-items: center;
              justify-content: center;
              input {
                margin-left: 30px;
              }
              &--label {
                font-size: 14px;
              }
              .one-block {
                display: flex;
                align-items: center;
                width: 200px;
              }
              .two-block {
                .textarea {
                  right: 14px;
                  width: 300px;
                }
              }
            }
          }
        }
      }
      &--second {
        display: flex;
        align-items: center;
        width: 88%;
        &--pay {
          &--second {
            &--label {
              font-size: 13px;
              margin-right: 38px;
            }
          }
          &--first {
            &--label {
              font-size: 13px;
              margin-left: 38px;
              //padding-right: 20px;
            }
          }
          h1 {
            font-size: 15px;
            margin-bottom: 5px;
          }
          text-align: center;
          margin-left: 3.9rem;
          width: 100%;
          &--btn {
            &--one {
              width: 100%;
              font-size: 13px;
            }
            &--two {
              width: 100%;
              font-size: 13px;
            }
            &--third{
              height: 40px;
            }
            &--fourth{
              height: 40px;
            }
          }
        }
        &--total {
          margin-left: 3.9rem;
          width: 73%;
          height: 80px;
        }
      }
    }
  }
  #basket .basket--first--contacts{
    width: 61%;
    margin: 0 auto;
  }
  #basket .basket--first--dost--blockta--secondCheck .two-block .textarea{
    left: -110px;
  }
  #basket .basket--second--pay--third{
    justify-content: center;
  }
  #basket .basket--second--pay--fourth{
    justify-content: center;
  }
}


@media (max-width: 451px){

  #basket {
    .basket {
      .tabs {
        .tab {
          width: 107%;
          div {
            margin-left: 20px;
          }
        }
      }
      &--first {
        width: 100%;
        &--contacts {
          width: 70%;
          input {
            width: 100%;

          }
        }
        &--dost {
          &--blockta {
            display: flex;
            align-items: center;
            justify-content: center;
            &--checks {
              &--check {
                display: flex;
                align-items: center;
                justify-content: center;
                &--label {
                  font-size: 15px;
                }
              }
            }
            &--secondCheck {

              align-items: center;
              justify-content: center;
              input {
                margin-left: 20px;
              }
              &--label {
                font-size: 15px;
              }
              .one-block {
                display: flex;
                align-items: center;
                width: 200px;
              }
              .two-block {
                .textarea {
                  right: 2px;
                  //left: 0;
                  width: 300px;
                }
              }
            }
          }
        }
      }
      &--second {
        display: flex;
        align-items: center;
        width: 100%;
        &--pay {
          text-align: center;
          width: 100%;
          margin-left: 0;
          h1{
            font-size: 17px;
            margin-bottom: 15px;
          }
          &--btn {
            &--one {
              width: 100%;
            }
            &--two {
              width: 100%;
            }
            &--third{
              width: 100%;
              height: 35px;
              font-size: 14px;

            }
            &--fourth{
              width: 100%;
              height: 35px;
              font-size: 14px;
            }
          }
          &--third{
            p{
              font-size: 12px;
            }
            &--input{
              margin-right: 5px;
            }
          }
          &--fourth{
            &--input{
              margin-right: 5px;
            }
            p{
              font-size: 12px;
            }
          }
        }
        &--total {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  #basket .basket--product .basket--third--card{
    width: 400px;
  }
  #basket .basket--product .basket--third--card--img{
    margin-right: 0;
    width: 180px;
    height: 200px;
    img{
      width: 170px;
      height: 210px;
    }
  }
  #basket .basket--product .basket--third--card--desc h1{
    width: 216px;
    font-size: 23px;
  }
  #basket .basket--four{
    height: 60vh;
  }
}

@media (max-width: 414px){
  #basket {
    .basket {
      .tabs {
        .tab {
          width: 100%;
          div {
            margin-left: 20px;
          }
        }
      }
      &--first {
        width: 414px;
        &--contacts {
          input {
            width: 300px;
          }
        }
        &--dost {
          &--blockta {
            display: flex;
            align-items: center;
            justify-content: center;
            &--checks {
              &--check {
                display: flex;
                align-items: center;
                justify-content: center;
                &--label {
                  font-size: 15px;
                }
              }
            }
            &--secondCheck {

              align-items: center;
              justify-content: center;
              input {
                margin-left: 20px;
              }
              &--label {
                font-size: 15px;
              }
              .one-block {
                display: flex;
                align-items: center;
                width: 200px;
              }
              .two-block {
                .textarea {
                  right: 2px;
                  //left: 0;
                  width: 300px;
                }
              }
            }
          }
        }
      }
      &--second {
        display: flex;
        align-items: center;
        width: 100%;
        &--pay {
          text-align: center;
          width: 80%;
          &--btn {
            &--one {
              width: 100%;
            }
          }
          &--btn {
            &--two {
              width: 100%;
            }
          }
        }
        &--total {
          width: 80%;
        }
      }
    }
  }
  #basket .basket--product .basket--third--card{
    width: 360px;
    justify-content: space-between;
    align-items: center;
  }
  #basket .basket--product .basket--third--card--img img{
    width: 160px;
    height: 200px;
  }
  #basket .basket--product .basket--third--card--img{
    width: 170px;
    height: 180px;
  }

  #basket .basket--four--btn{
    width: 235px;
    height: 46px;
    font-size: 15px;

  }
  #basket .basket--product .basket--third--card--desc h1{
    width:182px;
  }
}

@media (max-width: 400px){
  #basket {
    .basket {
      .tabs {
        .tab {

          div {
            margin-left: 20px;
          }
        }
      }
      &--first {
        width: 100%;
        &--contacts {
          width: 95%;
          input {
            width: 90%;
          }
        }
        &--dost {
          &--blockta {
            display: flex;
            align-items: center;
            justify-content: center;
            &--checks {
              &--check {
                display: flex;
                align-items: center;
                justify-content: center;
                &--label {
                  font-size: 15px;
                }
                &--then{
                  select{
                    position: absolute;
                    top: 3rem;
                    bottom: 0;
                    left: 20px;
                    right: 0;
                    width: 240px;
                    height: 40px;
                    color: #999999;
                    border: 1px solid #72072D;
                    outline: none;
                    margin: 10px 0;
                  }
                }
              }
            }
            &--secondCheck {

              align-items: center;
              justify-content: center;
              input {
                margin-left: 20px;
              }
              &--label {
                font-size: 15px;
              }
              .one-block {
                display: flex;
                align-items: center;
                width: 200px;
              }
              .two-block {
                .textarea {
                  right: 2px;
                  //left: 0;
                  width: 300px;
                }
              }
            }
          }
        }
      }
      &--second {
        display: flex;
        align-items: center;
        width: 100%;
        &--pay {
          text-align: center;
          width:100%;
          &--btn {
            &--one {
              width: 100%;
            }
            &--two {
              width: 100%;
            }
            &--third{
              width: 85%;
            }
            &--fourth{
              width: 85%;
            }
          }
        }
        &--total {
          width: 87%;
        }
      }
    }
  }
  #basket .basket--product .basket--third--card{
    width: 360px;
    justify-content: space-between;
    align-items: center;
  }
  #basket .basket--product .basket--third--card--img img{
    width: 160px;
    height: 200px;
  }
  #basket .basket--product .basket--third--card--img{
    width: 170px;
    height: 180px;
  }

  #basket .basket--four--btn{
    width: 235px;
    height: 46px;
    font-size: 15px;

  }
  #basket .basket--product .basket--third--card--desc h1{
    width:182px;
  }
  #basket .basket--first--dost--blockta--checks--then select{
    width: 250px;
    left: 20px;
  }
}

@media (max-width: 375px){

  #basket {
    .basket {
      .tabs {
        margin-bottom: 0;

        .tab {
          a{
            h6{
              font-size: 14px;
            }
          }
          div {
            margin-left: 20px;
            h3{
              font-size: 14px;
            }
            h6{
              font-size: 14px;
            }
          }
        }
        .tab-total {
          p {
            font-size: 15px;
          }
          span {
            font-size: 16px;
          }
        }
      }
      &--first {
        width: 100%;
        &--contacts {
          width: 90%;
          h1 {
            font-size: 18px;

          }
          input {
            width: 250px;
            margin-left: 10px;
          }
        }
        &--dost {
          width: 300px;
          h1 {
            font-size: 20px;
          }
          &--blockta {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 270px;
            &--checks {
              &--check {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 36px;
                &--label {
                  font-size: 14px;
                }
              }
              &--then {
                select {
                  width: 260px;
                  margin-left: 39px;
                }
              }
            }
            &--secondCheck {

              align-items: center;
              justify-content: center;
              input {
                margin-left: 20px;
              }
              &--label {
                font-size: 14px;
              }
              .one-block {
                display: flex;
                align-items: center;
                width: 200px;
              }
              .two-block {
                .textarea {
                  right: 29px;
                  width:260px;
                }
              }
            }
          }
        }
      }
      &--second {
        display: flex;
        align-items: center;
        width: 100%;
        &--pay {
          &--second {
            &--label {
              font-size: 10px;
              margin-right: 38px;
            }
          }
          &--first {
            &--label {
              font-size: 10px;
              margin-right: 40px;
            }
          }
          h1 {
            font-size: 17px;
            margin-bottom: 5px;
          }
          text-align: center;
          margin-left: 0;
          width: 100%;
          &--btn {
            &--one {
              width: 100%;
              font-size: 15px;
            }
          }
          &--btn {
            &--two {
              width: 100%;
              font-size: 15px;
            }
          }
        }
        &--total {

          width: 90%;
        }
      }
    }
  }
  #basket .basket--first--dost--blockta--checks--then select{
    margin-left: 18px;
  }
  #basket .basket--product .basket--third--card{
    width: 340px;
    align-items: flex-start;
  }
  #basket .basket--product .basket--third--card--img{
    width: 100%;
    height: 100%;
    img{
      width: 140px;
      height: 180px;

    }
  }
  #basket .basket--product .basket--third--card--desc h1{
    font-size: 21px;

  }
  #basket .basket--product .basket--third--card--desc h2{
    font-size: 16px;
    margin: 5px 0;
  }
  #basket .basket--product .basket--third--card--desc h3{
    margin: 10px 0;
  }
  #basket .basket--product .basket--third--card--desc h1{
    width: 172px;
  }
}

@media (max-width: 320px){
  #basket {
    .basket {
      .tabs {
        margin-bottom: 0;
        .tab {
          .tabs--h3{
            font-size: 13px;
          }
          &--h6{
            font-size: 13px;
          }

          div {
            margin-left: 20px;
          }
        }
        .tab-total {
          p {
            font-size: 13px;
            span {
              font-size: 15px;
            }
          }
        }
      }
      &--first {
        width: 100%;
        &--contacts {
          width: 90%;
          h1 {
            font-size: 15px;

          }
          input {
            width: 100%;
            margin-left:0 ;
            height: 32px;
          }
        }
        &--dost {
          width: 300px;
          h1 {
            font-size: 18px;
          }
          &--blockta {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 270px;
            &--checks {
              &--check {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 40px;
                &--label {
                  font-size: 12px;
                }
              }
              &--then {
                select {
                  width: 260px;
                  margin-left: 39px;
                }
              }
            }
            &--secondCheck {

              align-items: center;
              justify-content: center;
              input {
                margin-left: 20px;
              }
              &--label {
                font-size: 12px;
              }
              .one-block {
                display: flex;
                align-items: center;
                width: 200px;
              }
              .two-block {
                .textarea {
                  right: 29px;
                  width:260px;
                }
              }
            }
          }
        }
      }
      &--second {
        display: flex;
        align-items: center;
        width: 100%;
        &--pay {
          &--second {
            &--label {
              font-size: 10px;
              margin-right: 38px;
            }
          }
          &--first {
            &--label {
              font-size: 10px;
              margin-right: 40px;
            }
          }
          h1 {
            font-size: 15px;
            margin-bottom: 5px;
          }
          text-align: center;
          margin-left: 0;
          width: 100%;
          &--btn {
            &--one {
              width: 100%;
              font-size: 13px;
            }
          }
          &--btn {
            &--two {
              width: 100%;
              font-size: 13px;
            }
          }
        }
        &--total {
          margin-left: 0;
          width: 90%;
        }
      }
    }
  }
  #basket .basket--first--dost--blockta--secondCheck .two-block .textarea{
    left: -100px;
  }
  #basket .basket--first--dost--blockta--checks--then select{
    margin-left: 15px;
  }
  #basket .basket--product .basket--third--card--img img{
    width: 125px;
    height: 160px;
  }
  #basket .basket--product .basket--third--card{
    width: 285px;
  }
  #basket .basket--product .basket--third--card--desc h1{
    width: 143px;
    font-size: 18px;

  }
  #basket .basket--product .basket--third--card--desc h3{
    margin: 7px 0;
  }
}
