#header{
  background: linear-gradient(90deg, #72072D 0%, #FF005C 100%);

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    &--logo{
      h1{
        color: #FFFFFF;
        font-family: 'Inter',sans-serif;
      }
    }
    &--right{
      display: flex;
      justify-content: space-between;
      width: 16%;
      .logo{
        color: white;
        font-size: 30px;
      }
      h1{
        color: white;
        font-size: 16px;
      }
    }
    &--search{
      input{
        width: 700px;
        height: 40px;
        border-radius: 16px;
        border: 1px solid white;
        background: rgba(196, 196, 196, 0.14);
        color: white;
        padding: 10px;
        font-size: 15px;
      }
      .search{
        color: white;
        font-size: 20px;
        position: absolute;
        right: 27%;
        top: 7.5%;
      }
    }
  }
}
