#header{
  background: linear-gradient(90deg, #72072D 0%, #FF005C 100%);
  .header{

    display: flex;
    padding: 53px 0;
    justify-content: space-between;
    &--burger {
      width: 30px;
      height: 30px;
      margin-top: 20px;
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &--burger:before {
      content: '';
      position: absolute;
      top: 0;
      width: 40px;
      background: #FF005C;
      height: 5px;
      border-radius: 10px;
    }
    span {
      position: absolute;
      top: 45%;
      width: 30px;
      background: #FF005C;
      height: 5px;
      border-radius: 10px;
    }
    &--burger:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 20px;
      background: #FF005C;
      height: 5px;
      border-radius: 10px;
    }

    height: 160px;
    &--logo{
      h1{
        color: #FFFFFF;
        font-family: 'Inter',sans-serif;
      }
    }
    &--right{
      display: flex;
      justify-content: space-between;
      &__faq {
        padding: 0 10px;
        .logo{
        color: white;
        font-size: 30px;
      }
      }
      &__faq2 {
        padding: 0 10px;
        .logo{
        color: white;
        font-size: 30px;
      }
      }

      h1{
        color: white;
        font-size: 16px;
      }
    }

    &--search{

      input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
      input{
        width: 600px;
        height: 40px;
        border-radius: 16px;
        border: 1px solid white;
        background: rgba(196, 196, 196, 0.14);
        color: white;
        padding: 12px;
        font-size: 15px;
        outline: none;
      }
      .search{
        color: white;
        font-size: 20px;
        position: absolute;
        right: 28.6%;
        top: 63px;
      }
    }
    &--right{
      display: flex;
      justify-content: space-between;
      width: 16%;
      .logo{
        color: white;
        font-size: 30px;
      }
      h1{
        color: white;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1200px) {
  #header .header--search input {
    width: 30rem;
    height: 37px;
  }
  #header .header--right {
    width: 19%;
  }
}
@media (max-width: 1024px) {

}
@media (max-width: 992px) {
  #header .header--search input {
    width: 28rem;
  }
  #header .header--right .logo {
    font-size: 26px;
  }
  #header .header--right h1 {
    font-size: 14px;
  }
}
@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
@media (max-width: 450px) {

}
@media (max-width: 414px) {

}
@media (max-width: 380px) {

}
@media (max-width: 360px) {

}
@media (max-width: 320px) {

}

