#header{
  background: linear-gradient(90deg, #72072D 0%, #FF005C 100%);
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 160px;
    &--logo{
      h1{
        color: #FFFFFF;
        font-family: 'Inter',sans-serif;
      }
    }
    &--search{

      input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
      input{
        width: 700px;
        height: 40px;
        border-radius: 16px;
        border: 1px solid white;
        background: rgba(196, 196, 196, 0.14);
        color: white;
        padding: 12px;
        font-size: 15px;
        outline: none;
      }
      .search{
        width: 20px;
        height: 25px;
        line-height: 26px;
        margin-left: -50px;
        margin-bottom: -6px;
        color: white;
        cursor: pointer;
      }
    }
    &--right{
      display: flex;
      justify-content: space-between;
      width: 16%;
      .logo{
        color: white;
        font-size: 30px;
      }
      h1{
        color: white;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 450px) {
}
@media (max-width: 414px) {
}
@media (max-width: 380px) {
}
@media (max-width: 360px) {
}
@media (max-width: 320px) {
}

