.input{
  &-input{
    position: absolute;
    width: 200px;
    height: 56px;
    top: 66px;
    left: 270px;
    z-index: 99;
    transition:all 1.3s ease-in-out ;

    input{
      background: white;
      border-radius: 10px;
      border: 2px solid #FF00C7;
      width: 350px;
      height: 38px;
      color: rgba(56, 6, 44, 0.87);
      padding-left: 15px;
      font-size: 20px;
      outline: white;


    }
    ::placeholder {
      color: rgba(255, 0, 199, 0.93);
    }
  }

}

@media (max-width: 576px) {

}
@media (max-width: 450px) {

  .input-input input{
    width: 190px;
    height: 35px;
  }
}
@media (max-width: 400px) {
  .input-input input{
    width: 180px;
    height: 30px;
  }

}
@media (max-width: 375px) {
  .input-input input{
    width: 170px;
    height: 28px;
  }
}
@media (max-width: 320px) {

  .input-input input{
    width: 150px;
    height: 30px;
  }
}