#footer {
  background: linear-gradient(269.84deg, #FF005C -10.98%, rgba(0, 0, 0, 0.88) 100%);

  .footer {
    &--text {
      display: flex;
      align-items: center;
      padding: 23px 0;

      &__one {
        h1 {
          font-size: 24px;
          text-align: center;
          color: white;
        }
      }

      &__start {
        display: flex;
        align-items: start;
        justify-content: space-between;
        width: 80%;
        padding-left: 60px;

        &--think {
          display: flex;

          &__two {
            display: flex;
            flex-direction: column;

            a {
              padding: 10px 10px;
              color: white;
              font-size: 18px;
            }
          }
        }

        &--think2 {
          display: flex;

          &__three {
            display: flex;
            flex-direction: column;
            font-size: 20px;

            a {
              padding: 10px 10px;
              color: white;
              font-size: 18px;
            }
          }
        }

        &--number {
          color: white;
          display: flex;
          flex-direction: column;

          h2 {
            font-size: 18px;
          }

          &__icon {
            &--1 {
              background: #fff;
              color: #FF005C;
              padding: 3px 3px;
              font-size: 31px;
              margin: 5px;
              border-radius: 10px;
            }

            &--2 {
              background: #fff;
              color: #FF005C;
              padding: 5px 5px;
              margin: 5px;
              font-size: 31px;
              border-radius: 20px;
            }

            &--3 {
              background: #fff;
              color: #FF005C;
              padding: 5px 5px;
              font-size: 31px;
              border-radius: 6px;
              margin: 5px;
            }

            &--4 {
              font-size: 40px;
            }
          }

          a {
            color: white;
            padding: 10px 0;
            font-size: 18px;
          }
        }

        &--end {
          h3 {
            text-align: center;
            color: white;
            font-size: 18px;
          }

          p {
            color: white;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }

    &--end {
      h1 {
        border: 1px solid gray;
        width: 100%;
      }

      h4 {
        text-align: center;
        padding: 14px 0;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}


@media (max-width: 992px) {
  #footer {
    .footer {
      &--text {
        &__one {
          h1 {
            font-size: 19px;
          }
        }

        &__start {
          &--think {
            &__two {
              a {
                font-size: 15px;
              }
            }
          }

          &--think2 {
            &__three {
              a {
                font-size: 15px;
              }
            }
          }

          &--number {
            a {
              font-size: 15px;
            }

            &__icon {
              &--1 {
                font-size: 25px;
              }

              &--2 {
                font-size: 25px;
              }

              &--3 {
                font-size: 25px;
              }

              &--4 {
                font-size: 31px;
                margin-bottom: 2px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  #footer {
    .footer {
      &--text {
        &__start {
          &--think {
            &__two {
              a {
                font-size: 12px;
              }
            }
          }

          &--think2 {
            &__three {
              a {
                font-size: 12px;
              }
            }
          }

          &--number {
            h2 {
              font-size: 13px;
            }

            a {
              font-size: 12px;
              padding: 7px 0;
            }

            &__icon {
              &--1 {
                font-size: 17px;
                border-radius: 4px;
                padding: 1px;
              }

              &--2 {
                font-size: 17px;
                border-radius: 10px;
                padding: 3px;
              }

              &--3 {
                font-size: 17px;
                border-radius: 4px;
                padding: 1px;
              }

              &--4 {
                font-size: 21px;
                margin-bottom: 3px;
              }
            }
          }

          &--end {
            p {
              font-size: 10px;
              line-height: 16px;
            }

            h3 {
              font-size: 14px;
            }
          }
        }
      }

      &--end {
        h4 {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 758px) {
  #footer {
    .footer {
      &--text {
        &__one {
          h1 {
            font-size: 14px;
          }
        }

        &__start {
          padding-left: 30px;

          &--think {
            &__two {
              a {
                font-size: 10px;
                padding: 5px;
              }
            }
          }

          &--think2 {
            &__three {
              a {
                font-size: 10px;
                padding: 5px;
              }
            }
          }

          &--number {
            h2 {
              font-size: 10px;
            }

            a {
              font-size: 9px;
              padding: 5px 0;
            }

            &__icon {
              &--1 {
                font-size: 14px;
                margin: 2px;
              }

              &--2 {
                font-size: 14px;
                margin: 2px;
              }

              &--3 {
                font-size: 14px;
                margin: 2px;
              }

              &--4 {
                font-size: 18px;
                margin-bottom: 0;
              }
            }
          }

          &--end {
            p {
              font-size: 9px;
              line-height: 13px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #footer {
    .footer {
      &--text {
        display: block;

        &__one {
          display: flex;
          justify-content: center;
          text-align: center;

          h1 {
            font-size: 30px;
            width: 50%;
          }
        }

        &__start {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #footer {
    .footer {
      &--text {
        padding: 12px 0;

        &__one {
          h1 {
            font-size: 22px;
            width: 45%;
          }
        }
      }
      &--end {
        h1 {
          border: 0.1px solid gray;

        }
      }
    }
  }
}

@media (max-width: 375px) {
  #footer {
    .footer{
      &--text{
        &__one{
          h1{
            font-size: 16px;
            width: 35%;
          }
        }
      }
      &--end{
        h4{
          padding: 8px 0;
          font-size: 8px;
        }
      }
    }
  }
}
