#products{
  .products {
    width: 100%;
    margin: 0 0;
    h1 {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: #72072D;
      padding-top: 60px;
    }
    h2{
      display: none;
    }

    &--store {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 30px auto;
      width: 95%;
    }

    .products--card {
      height: 420px;
      width: 220px;

      img {
        height: 290px;
        width: 210px;

      }

      h1{
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        padding-top: 3px;
        padding-left: 1px;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        padding-left: 1px;
        color: rgba(0, 0, 0, 0.9);

      }

    }

    &--button {
      display: flex;
      align-items: center;
      justify-content: center;
      &--btn {

        width: 227px;
        height: 48px;
        border: 1.5px solid #D118A8;
        border-radius: 40px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #D118A8;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        margin-bottom: 30px;
        cursor: pointer;
        &--icon {
          font-size: 25px;
          padding-left: 5px;
        }
      }
    }
  }
}

@media (max-width: 1200px){
  #products{
    .products {
      width: 100%;
      margin: 0 0;
      h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #72072D;
        padding-top: 60px;
      }

      &--store {

      }

      .products--card {
        height: 415px;
        width: 200px;

        img {
          height: 260px;
          width: 195px;

        }

        h1 {
          font-size: 25px;
          padding-top: 3px;
          padding-left: 1px;
        }

        p {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          padding-left: 1px;
          color: rgba(0, 0, 0, 0.9);

        }

      }

      &--button {
        display: flex;
        align-items: center;
        justify-content: center;
        &--btn {

          width: 227px;
          height: 48px;
          border: 1.5px solid #D118A8;
          border-radius: 40px;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: #D118A8;
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          margin-bottom: 30px;
          cursor: pointer;
          &--icon {
            font-size: 25px;
            padding-left: 5px;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px){
  #products{
    h1{
      font-size: 38px;
    }
    .products--card {
      height: 420px;
      width: 220px;

      img {
        height: 300px;
        width: 220px;

      }

      h1 {
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        padding-top: 3px;
        padding-left: 1px;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        padding-left: 1px;
        color: rgba(0, 0, 0, 0.9);

      }

    }
  }
}
@media (max-width: 992px){
  .container{
    width: 90%;
  }
  #products .products{
    width: 103%;
  }
  #products .products--button--btn{
    width: 215px;
    height: 45px;
    font-size: 17px;
  }
}


@media (max-width: 768px){
  .container {
    width: 90%;
  }
  #products {
    .products {
      h1{
        display: none;
      }
      h2{

        margin-top: 45px;
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #72072D;
      }

    }
  }
  #products .products--button--btn {
    width: 200px;
    height: 40px;
    font-size: 15px;
  }
  #products .products--button--btn--icon{
    font-size: 22px;

  }
  #products .products .products--card h1{
    display: block;

  }
}

@media (max-width: 576px){
  #products .products .products--card{
    width: 240px;
  }
  #products .products .products--card img{
    height: 300px;
    width: 230px;
  }
}
@media (max-width: 450px){
  #products .products h2{
    font-size: 35px;
  }
  #products .products .products--card img{
    width: 180px;
    height: 240px;
  }
  #products .products .products--card{
    width: 181px;
  }
  #products .products--store{
  }
}
@media (max-width: 400px){
  #products .products .products--card img{
    width: 160px;
    height: 220px;
  }
  #products .products .products--card{
    width: 160px;
  }
}
@media (max-width: 375px){
  #products .products .products--card img{
    width: 150px;
    height: 210px;
  }
  #products .products .products--card h1{
    font-size: 22px;
  }
  #products .products .products--card p{
    font-size: 16px;
  }
  #products .products h2{
    font-size: 32px;
  }
  #products .products .products--card{
    width: 150px;
  }
}
@media (max-width: 320px){
  #products .products .products--card img{
    width: 124px;
    height: 150px;
  }
  #products .products .products--card{
    width: 125px;
    height: 285px;
  }
  #products .products--button--btn{
    width: 190px;
    height: 35px;
    font-size: 14px;
  }

}

