#block {
  .block {
    &--text {
      padding: 20px 0;

      h1 {
        color: #72072D;
        font-weight: 700;
        font-size: 40px;
      }
    }

    &--categor {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__row {
        position: relative;

        &--img {
          position: relative;
          width: 19rem;
        }

        &--arr {
          position: absolute;
          left: 0;
          top: 0;

          img {
            width: 19rem;
          }

          &__text {
            position: absolute;
            bottom: 30px;
            left: 10px;
            display: flex;
            align-items: center;
            color: white;

            .icon {
              font-size: 28px;
            }

            h2 {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1370px) {
  #block .block--categor__row--arr img {
    width: 18rem;
  }
  #block .block--categor__row--img {
    width: 18rem;
  }
}

@media (max-width: 1310px) {
  #block .block--categor__row--arr img {
    width: 17rem;
  }
  #block .block--categor__row--img {
    width: 17rem;
  }
}

@media (max-width: 1250px) {
  #block .block--categor__row--arr img {
    width: 16rem;
  }
  #block .block--categor__row--img {
    width: 16rem;
  }
}

@media (max-width: 1170px) {
  #block .block--categor__row--img {
    width: 15rem;
  }
  #block .block--categor__row--arr img {
    width: 15rem;
  }
}

@media (max-width: 1090px) {
  #block .block--categor__row--img {
    width: 14rem;
  }
  #block .block--categor__row--arr img {
    width: 14rem;
  }
}

@media (max-width: 1024px) {
  #block .block--categor__row--arr img {
    width: 13rem;
  }
  #block .block--categor__row--img {
    width: 13rem;
  }
  #block .block--categor__row--arr__text h2{
    font-size: 14px;
  }
  #block .block--text h1 {
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  #block .block--categor__row--img {
    width: 12rem;
  }
  #block .block--categor__row--arr img {
    width: 12rem;
  }
}

@media (max-width: 888px) {
  #block .block--categor__row--img {
    width: 10rem;
  }
  #block .block--categor__row--arr img {
    width: 10rem;
  }
}

@media (max-width: 768px) {
  #block {
    .block {
      &--text {
        h1{
          font-size: 20px;
        }
      }

      &--categor {

        &__row {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 730px) {
  #block .block--categor__row--img {
    width: 9rem;
  }
  #block .block--categor__row--arr img {
    width: 9rem;
  }
}

@media (max-width: 660px) {
  #block .block--categor__row--img {
    width: 8rem;
  }
  #block .block--categor__row--arr img {
    width: 8rem;
  }
  #block .block--categor__row--arr__text h2 {
    font-size: 11px;
  }
  #block .block--categor__row--arr__text .icon {
    font-size: 20px;
  }
  #block .block--categor__row--arr__text{
    bottom: 18px;
  }
}

@media (max-width: 576px) {
  #block .block--categor__row--img {
    width: 7rem;
  }
  #block .block--categor__row--arr img {
    width: 7rem;
  }
  #block .block--categor__row--arr__text h2 {
    font-size: 9px;
  }
  #block .block--categor__row--arr__text .icon {
    font-size: 15px;
  }
  #block .block--categor__row--arr__text {
    bottom: 15px;
  }
}

@media (max-width: 510px) {
  #block .block--categor__row--img {
    width: 6rem;
  }
  #block .block--categor__row--arr img {
    width: 6rem;
  }
}

@media (max-width: 450px) {
  #block {
    .block {
      &--categor{
        display: flex;
        flex-direction: column;
        &__row{
          &--img{
            width: 23rem;
          }
          &--arr{
            img{
              width: 23rem;
            }
            &__text{
              left: 30px;
              h2{
                font-size: 16px;
              }
              .icon{
                font-size: 26px;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 400px) {
  #block {
    .block {

    }
  }
}

@media (max-width: 375px) {
  #block {
    .block {

    }
  }
}

@media (max-width: 320px) {
  #block {
    .block {
    }
  }
}

