
#block {

  .categor {
    &--text {
      h1 {
        color:  #72072D ;
        font-size: 30px;
        padding: 10px 0;
      }
    }

    &--block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      &__image {
        position: relative;
        width: 314px;
        z-index: 1;
      }
      &__fon {
        position: absolute;
        z-index: 2;
      }
      &__fon2 {
        position: absolute;
        left: 28%;
        z-index: 2;
      }
      &__fon3 {
        position: absolute;
        right: 421px;
        z-index: 2;
      }
      &__fon4 {
        position: absolute;
        right: 74.5px;
        z-index: 2;
      }
      &__name {
        z-index: 3;
        position: absolute;
        display: flex;
        align-items: center;
        top: 49rem;
        left: 6rem;
        color: white;
        &--icon {
          z-index: 3;
          padding: 20px 0;
          font-size: 56px;
        }
      }
      &__name1 {
        z-index: 3;
        position: absolute;
        display: flex;
        align-items: center;
        top: 49rem;
        left: 28rem;
        color: white;
        &--icon {
          z-index: 3;
          padding: 20px 0;
          font-size: 56px;
        }
      }
      &__name2 {
        z-index: 3;
        position: absolute;
        display: flex;
        align-items: center;
        top: 49rem;
        right: 35rem;
        color: white;
        &--icon {
          z-index: 3;
          padding: 20px 0;
          font-size: 56px;
        }
      }
      &__name3 {
        z-index: 3;
        position: absolute;
        display: flex;
        align-items: center;
        top: 49rem;
        right: 15rem;
        color: white;
        &--icon {
          z-index: 3;
          padding: 20px 0;
          font-size: 56px;
        }
      }
    }
  }
}
