#block {
  .block {
    &--text {
      padding: 20px 0;

      h1 {
        color: #72072D;
        font-weight: 700;
      }
    }

    &--categor {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__row {
        position: relative;

        &--img {
          position: relative;
          width: 19rem;
        }

        &--arr {
          position: absolute;
          left: 0;
          top: 0;

          img {
            width: 19rem;
          }

          &__text {
            position: absolute;
            bottom: 30px;
            left: 10px;
            display: flex;
            align-items: center;
            color: white;

            .icon {
              font-size: 28px;
            }

            h2 {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1370px) {
  #block .block--categor__row--arr img {
    width: 18rem;
  }
  #block .block--categor__row--img {
    width: 18rem;
  }
}

@media (max-width: 1310px) {
  #block .block--categor__row--arr img {
    width: 17rem;
  }
  #block .block--categor__row--img {
    width: 17rem;
  }
}

@media (max-width: 1250px) {
  #block .block--categor__row--arr img {
    width: 16rem;
  }
  #block .block--categor__row--img {
    width: 16rem;
  }
}

@media (max-width: 1200px) {
  #block {
    .block {
      &--text {
        text-align: center;
      }
    }
  }
}

@media (max-width: 1170px) {
  #block .block--categor__row--img {
    width: 15rem;
  }
  #block .block--categor__row--arr img {
    width: 15rem;
  }
}

@media (max-width: 1090px) {
  #block .block--categor__row--img {
    width: 14rem;
  }
  #block .block--categor__row--arr img {
    width: 14rem;
  }
}

@media (max-width: 1024px) {
  #block {
    .block {
      &--text {
        text-align: center;
        padding: 10px 0;
      }

      &--categor {
        display: flex;
        padding: 0 14rem;

        &__row {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #block {
    .block {
      &--text {
        text-align: center;
        padding: 10px 0;
      }

      &--categor {
        display: flex;
        padding: 0 14rem;

        &__row {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  #block {
    display: flex;
    justify-content: start;
    align-items: start;

    .block {
      &--text {
        text-align: center;
        padding: 10px 0;
      }

      &--categor {
        display: flex;
        flex-wrap: wrap;

        &__row {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #block {
    .block {
      &--text {
        text-align: center;
        padding: 10px 0;
      }

      &--categor {
        display: flex;
        flex-direction: column;

        &__row {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #block {
    .block {
      &--text {
        text-align: center;
        padding: 10px 0;
      }

      &--categor {
        display: flex;
        flex-direction: column;

        &__row {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #block {
    .block {
      &--text {
        text-align: center;
        padding: 10px 0;
      }

      &--categor {
        display: flex;
        flex-direction: column;

        &__row {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #block {
    .block {
      &--text {
        text-align: center;
        padding: 10px 0;
      }

      &--categor {
        display: flex;
        flex-direction: column;

        &__row {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #block {
    .block {
      &--text {
        text-align: center;
        padding: 10px 0;
      }

      &--categor {
        display: flex;
        flex-direction: column;

        &__row {
          margin: 10px 0;
        }
      }
    }
  }
}

